.dropdown-container {
  position: relative;
  max-width: 100%;
}

.dropdown-display {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-search {
  width: 93%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.dropdown-options {
  max-height: 450px;
  overflow-y: auto;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.dropdown-option:hover {
  background: #f0f0f0;
}


@media (max-width:767px) {

  .dropdown-display
    {
      border-radius: 20px;
    }
    
    .dropdown-menu
    {
      border-radius: 15px;
    }
}